<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>proxy</title>
  <style>
    iframe {
      width: 100%;
      height: 600px;
      border: none;
    }
  </style>
</head>
<body>
  <h1>prokisisis</h1>
  <iframe src="https://www.911proxy.com/croxyproxy/"></iframe>
</body>
</html>
